/*https://coolors.co/696d7d-6f9283-8d9f87-cdc6a5-f0dcca*/
/*
div {
    border: 1px solid;
}
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


/* Add this to the child element's class when you want to center vertically */
.vertical-center {
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

/* 
Add this to the parent div's class if you want to horizontally center
the vertically stacked children 
*/
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Modal
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
}
*/

.fade-in {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.show {
    visibility: visible;
    opacity: 1;
}

.fade-in-out {
    animation: fade 2s infinite;
}

.highlight {
    background-color: #DCDCF5;
    border-radius: 10px;
}

.underline {
    text-decoration: underline #DCDCF5 2px;
}

#back-to-top {
    font-size: 1.5em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Standard CSS */
body {
    font-family: 'Space Mono', monospace;
    background-color: #f5f5dc;
}

.progress-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 7px;
    background: #f5f5dc;
}

.progress-bar {
    height: 7px;
    background: #DCDCF5;
    width: 0%;
}

.section {
    margin-bottom: 5em;
    width: 80%;
}

#top {
    top: 0;
    margin-bottom: 8em;
    margin-top: 1em;
}

#top-nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#menu-btn {
    display: none;
    float: right;
}

#menu {
    visibility: hidden;
    background-color: #f5f5dc;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10em;
    right: 1em;
    z-index: 9999;
}

#menu > a {
    display: none;
    margin: 1em;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#scroll-guide {
    margin-top: 5em;
    text-align: center;
}

#title-slidshow {
    height: 7em;
}

#title-slideshow span {
    font-size: larger;
}

.content {
    text-align: center;
    margin-bottom: 2em;
}

.project-content {
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 5em;
    padding: 20px;
}

.project-body > div {
    display: flex;
    flex-direction: column;
}

.project-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-carousel > * {
    display: none;
}

.project > h3 {
    font-weight: bold;
}

.project > h8 {
    font-style: italic;
}

.carousel-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
}

.carousel-buttons button{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px
}

.jobs {
    text-align: center;
}

.job-content{
    margin-bottom: 5em;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 2em auto;
}

.job-content ul {
    text-align: left;
}

/* CSS for when screen width drops below 576px */
@media (max-width: 768px) {
    #menu-btn {
        display: block;
    }

    #top-nav {
        display: none;
    }

    .section {
        width: 95%;
    }

    .project-carousel > * {
        max-width: 100%;
        max-height: 100%;
    }

    .carousel-buttons button{
        width: 40px;
        height: 40px;
    }

    .reverse-carousel {
        order: 2;
    }

    .reverse-project {
        order: 1;
    }
}

#contact * {
    text-align: center;
    margin-bottom: 1em;
}

#contact h2 {
    margin-bottom: 2em;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}