/*https://coolors.co/696d7d-6f9283-8d9f87-cdc6a5-f0dcca*/

/*
div {
    border: 1px solid;
}
*/

/* Add this to the child element's class when you want to center vertically */
.vertical-center {
margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

/* 
Add this to the parent div's class if you want to horizontally center
the vertically stacked children 
*/
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Modal
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* Standard CSS */
body {
    font-family: Arial, sans-serif;
}

.section {
    margin-bottom: 5em;
    width: 75%;
}

#top {
    top: 0;
}

#top-nav {
    float: right;
}

#top-nav a {
    text-decoration: none;
    color: black;
}

#main {
    margin-top: 5em;
}

#intro-header {
    text-align: center;
    width: 80%;
}

.content {
    text-align: center;
    margin-bottom: 2em;
}

.project-content {
    margin-bottom: 5em;
    border: solid 2px;
    padding: 20px;
    border-radius: 10px;
}

.project-body > div {
    display: flex;
    flex-direction: column;
}

.project-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-carousel > * {
    display: none;
    max-width: 80%;
    max-height: 80%;
    border: solid 2px;
    border-radius: 10px;
}

.carousel-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
}

.carousel-buttons button{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px
}

.fade-in {
opacity: 0;
transition: opacity 1s ease-in-out;
}

.fade-in.show {
opacity: 1;
}

/* CSS for when screen width drops below 576px */
@media (max-width: 768px) {

    .project-carousel > * {
        max-width: 100%;
        max-height: 100%;
    }

    .carousel-buttons button{
        width: 40px;
        height: 40px;
    }

    video {
        max-height: 30em;
    }
}